
.color {
    background: linear-gradient(180deg, #B74E13 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #E48F2A 0%, rgba(255, 255, 255, 0) 100%), #F4D21E;
}

.wordFont {
    font-family: Monsterrat;
}

