{% load staticfiles %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}" type = "text/css"/>
        <title>Blog</title>
        <link rel="stylesheet" href="{% static 'blog/css/blogstyle.css' %}" type="text/css">
    </head>
<body class="color mt-5">

        <div class="container-fluid">

            <div class="row">
                    <div class=" col-sm-12 text-center text-lg-right">
                        <button type="button" class="btn btn-danger btn-lg color wordFont" onclick="location.href = '/';">Home</button>
                        <button type="button" class="btn btn-danger btn-lg color wordFont" onclick="location.href = '/blog';">Blog</button>
                    </div>
                </div>


            <div class="row mt-5">
                    <div class="col-sm-12 text-center text-lg-left wordFont">
                        <p style="font-size: 48px;">
                            About Me</p>
                        <p style="font-size: 24px">
                            There’s not much to say about my life since it’s <br>
                            not interesting. I’m just an average boy trying to <br>
                            survive in this era of technology.
                        </p>

                    </div>

            </div>

            <div class="row mt-5">
                <div class="wordFont col-sm-12 text-center text-lg-right">
                    <p style="font-size: 48px;">Interest</p>
                    <p style="font-size: 24px;">
                        - Programming(Not that i’m good at it tho)<br>
                        - Sci-fi Action movie
                    </p>

                </div>
            </div>

            <div class="row mt-5">
                <div class="col-sm-12 text-center text-lg-left wordFont">
                    <p style="font-size: 48px;">Education</p>
                    <p style="font-size: 24px;">
                        - Jakarta Islamic School (Elementary) <br>
                        - Al- Kahfi Boarding School(Junior High) <br>
                        - SMAN 81 Jakarta Timur (Senior High) <br>
                        - Faculty of Computer Science (Curently) <br>
                    </p>
                    <br>

                    <a id="contact" href="mailto:muhammad.farras71@ui.ac.id" class="ml-md-5">My Email : muhammad.farras71@ui.ac.id</a>
                </div>
            </div>

        </div>
</body>
</html>
