{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'homepage/css/bootstrap.min.css' %}" type="text/css">
        <title>Home</title>
        <link rel="stylesheet" href="{% static 'homepage/css/homestyle.css' %}" type="text/css">
    </head>
    <body class="color mt-5">
        <div class="container-fluid ">

                <div class="row h-25">
                    <div class=" col-sm-12 text-center text-lg-right">
                        <button type="button" class="btn btn-danger btn-lg color wordFont" onclick="location.href = '/';">Home</button>
                        <button type="button" class="btn btn-danger btn-lg color wordFont" onclick="location.href = '/blog';">Blog</button>
                    </div>
                </div>


                <div class="row h-25">
                    <div class="d-flex flex-md-column col-sm-5 order-md-2 justify-content-center ">
                        <div class="text-center">
                            <div>
                                <!-- https://preview.ibb.co/n15yp9/Pic.jpg -->
                                <!-- {% static 'homepage/img/Pic.jpg' %} -->
                                <img src="https://preview.ibb.co/n15yp9/Pic.jpg " id="pic" class="img-fluid rounded-circle align-middle" width="50%" ><img>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 order-md-1 text-center wordFont">
                        <h1 class="align-bottom font-weight-bold">Hello There!</h1>
                        <h2 class="align-bottom font-weight-bold">The Name's Farras</h2>

                    </div>

                </div>
        </div>

    </body>
</html>
