body {
            background: linear-gradient(180deg, #B74E13 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #E48F2A 0%, rgba(255, 255, 255, 0) 100%), #F4D21E;
}
.navigate {
        width:100%;
        height:15%;
        font-family: Monterrat;
        font-size: 24px;
        margin-left: 70vw;

}
.navig-button{
        background: linear-gradient(180deg, #B74E13 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #E48F2A 0%, rgba(255, 255, 255, 0) 100%), #F4D21E;
        font-size: 3vw;
        margin-left: 1vw;
}

.kiri {
    margin-left: 20%
}

.kanan {
margin-left: 20%;
}

#contact {
    margin-left: 20%;
}
@media only screen and (min-width: 650px) {
    body {
            background: linear-gradient(180deg, #B74E13 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #E48F2A 0%, rgba(255, 255, 255, 0) 100%), #F4D21E;
    }

    .navigate {
        width: 20%;
        margin-left:80%;
        align-content: center;
        font-family: Monsterrat;
    }

    .navig-button{
        background: linear-gradient(180deg, #B74E13 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #E48F2A 0%, rgba(255, 255, 255, 0) 100%), #F4D21E;
        font-size: 2vw;
        margin-left: 1vw;
    }

    .kiri {
        margin-top: 5%;
        width:25%;
        margin-left:10%;
    }

    .kanan {
        width:25%;
        margin-left: 65%;
    }

    #contact {
        margin-left: 10%;
    }
}

