body {
        background: linear-gradient(180deg, #B74E13 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #E48F2A 0%, rgba(255, 255, 255, 0) 100%), #F4D21E;
}
.navig {
        width:100%;
        height:15%;
        font-family: Monterrat;
        font-size: 24px;

}
#pic {
        height: 50%;
        border-radius: 50%;
        margin-left: 27%;
}
.pic {
    width: 50%;
}
.wordContent {
    font-family: Monterrat;
    font-size: 7vw;
    width:50%;
    height: 25%;
    margin-left: 25%;
    margin-top: 10%;
}

.navig-button{
    background: linear-gradient(180deg, #B74E13 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #E48F2A 0%, rgba(255, 255, 255, 0) 100%), #F4D21E;
    font-size: 2.5vw;
}

@media only screen and (min-width: 600px) {
    body {
        background: linear-gradient(180deg, #B74E13 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #E48F2A 0%, rgba(255, 255, 255, 0) 100%), #F4D21E;
        }
    .content {
        display: flex;
    }

    .navig-button{
        background: linear-gradient(180deg, #B74E13 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #E48F2A 0%, rgba(255, 255, 255, 0) 100%), #F4D21E;
        font-size: 2.5vw;
    }

    .pic {
        width: 50%;
    }

    #pic {
        margin-top: 20%;
        border-radius: 50%;
    }

    .wordContent {
        font-family: Monterrat;
        font-size: 7vw;
        width:50%;
        margin-left: 20%;
        margin-top: 18%;
    }
    .navig {
        width:100%;
        font-family: Monterrat;
        font-size: 56px;

    }
}

